/**
 * @Author: GeorgeRaven <archer>
 * @Date:   2020-08-30T14:06:33+01:00
 * @Last modified by:   archer
 * @Last modified time: 2020-10-12T15:23:07+01:00
 * @License: please see LICENSE file in project root
 */

/* font-family: 'Inconsolata', monospace; */
/* font-family: 'Roboto Slab', serif; */
@import "./reset.less";
@import "./centre.less";

@import "./colours.less";

// note to self use e("/") instead of '/' in things like grid-area definitions

.title_font {
  font-family: 'Roboto Slab', serif;
}

.main_font {
  font-family: 'Inconsolata', monospace;
}

.alt_font {
  font-family: 'Roboto Slab', serif;
}

html {
  height: 100%;
}

body {
  color: @color-primary-1;
  background-color: @color-primary-3;
  height: 100%;
}

.page {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: 100%;
  grid-template-columns: minmax(8em,15vmin) 1fr;
}

nav {
  background-color: @color-primary-4;
  display: grid;
  grid-templat-rows: repeat(auto-fill, 1fr);
  text-align: center;
  color: @color-primary-1;
  .title_font;
}

// https://stackoverflow.com/questions/45536537/centering-in-css-grid
nav a {
  color: inherit;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a:hover {
  background-color: @color-primary-3;
  color: @color-primary-1;
}

nav a:active {
  background-color: @color-primary-3;
  color: @color-secondary-2-3;
}

.content-grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 10% 1fr;
  .main_font;
  max-width: 100%;
  overflow: hidden;
}

.content-grid-tile {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 10% repeat(auto-fill, minmax(10%,100%));
  // grid-template-columns: repeat(auto-fill, 10em);
  .main_font;
  // grid-template-columns: repeat(auto-fill, 300px);
}

.content-grid-dashboard {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 10% repeat(3, minmax(10%,100%));
  grid-template-columns: repeat(3, minmax(10%, 100%));
  grid-gap: 1rem;
  .main_font;
}

.grid-item-centre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-item-centre-coloured {
  .grid-item-centre;
  background-color: @color-primary-2;
}

h1 {
  .title_font;
  .grid-item-centre;
}

.page-title {
  // I know not how to escape the / symbol to use the shorthand syntax
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: -1;
}

input {
  padding: 12px 20px;
  margin: 8px auto;
  text-align: center;
  border: 0px solid @color-secondary-1-0;
  background-color: @color-primary-4;
  color: @color-primary-1;
  border-radius: 2px;
}

.content-grid-dashboard input {
  width: 75%;
}

input:focus {
  background-color: @color-primary-4;
}

input[type=text], input[type=password] {
  border-radius: 2px;
}

img {
  height: 100%;
  width: 100%;
}
