/**
 * @Author: GeorgeRaven <archer>
 * @Date:   2020-08-30T14:06:33+01:00
 * @Last modified by:   archer
 * @Last modified time: 2020-09-24T12:51:39+01:00
 * @License: please see LICENSE file in project root
 */



@import "./colours.less";

form {
  position: relative;
  width: 50%;
  min-width: 15em;
  max-width: 20em;
  padding: 12px 0;
  background-color: @color-primary-4;
}

input, select {
  text-align: center;
  display: block;
  width: 90%;
  padding: 12px 20px;
  margin: 8px auto;
  box-sizing: border-box;
}

input:focus, select:focus {
  background-color: @color-primary-0;
}
