/**
 * @Author: GeorgeRaven <archer>
 * @Date:   2020-08-30T14:06:33+01:00
 * @Last modified by:   archer
 * @Last modified time: 2020-10-01T00:09:30+01:00
 * @License: please see LICENSE file in project root
 */



@import "./colours.less";

// Navigation bar settings

.nav-container {
  width: 100%;
  background-color: @color-primary-4;
}

nav {
  position: relative;
  max-width:1720px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

// nav ul {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
//     // width: 100%;
//     background-color: @color-primary-4;
//     text-align: center;
//     position: relative;
//     top: 0;
//     left: 0;
// }

nav ul li {
  // display: inline;
  float: left;
}

nav ul li a {
  display:block;
  color: @color-primary-1;
  // padding: 8px 16px;
  padding: 8px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: @color-primary-3;
  color: @color-primary-1;
}
