{% extends "base.jinja" %}

{% block content %}
<!-- 404 -->
  <div class="content-grid">
    <h1 class="page-title">404: Page Not Found</h1>
    <p class="grid-item-centre">
      The page you requested is simply not there...
    </p>
  </div>
<!-- 404 End -->
{% endblock %}
