<!doctype html>
<html>
  <head>
    <!-- getting our fonts inconsolata and roboto both variable fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;600&family=Roboto+Slab&display=swap" rel="stylesheet?version=1">
    <link href="static/css/default_bundle.css" rel="stylesheet">
  </head>
  <body>
    <div class="page">
      <nav>
        <a href="/"><img src="static/img/logo_icon.svg" alt="Home"></a>
        {% if current_user.is_authenticated %}
        <a href="/logout">Logout</a>
        {% else %}
        <a href="/login">Login</a>
        {% endif %}
        <a href="/dashboard">Dashboard</a>
        <a href="/profile">Profile</a>
        <a href="/docs">Docs</a>
        <a href="/help">Help</a>
      </nav>
      <div>
        {% block content %}
        {% endblock %}
      </div>
    </div>

  </body>
</html>
