{% extends "base.jinja" %}

{% block content %}
<!-- Dashboard -->
<div class="content-grid-dashboard">

  <h1 class="page-title">Dashboard</h1>
  <!-- Data submission form -->

  <form action="/dashboard/upload" method="POST"
    class="grid-item-centre-coloured"
    enctype="multipart/form-data" target="_self">
    <input type=text name=set placeholder="dataset name">
    <input type="file" name="file" multiple />
    <input type="submit" value="Encrypt and Upload CSV Data"/>
  </form>

  <!-- Data sample / preview -->

  <form action="/dashboard/view" method="GET"
    class="grid-item-centre-coloured"
    target="_blank">
    <!-- <input type=text placeholder="Number of documents to load"> -->
    <input type=submit value="Preview Data">
  </form>

  <!-- Training instructions form -->

  <form action="/dashboard/infer" method="POST"
    class="grid-item-centre-coloured"
    target="_self">
    <select name="model">
      <option value="1d_cnn" selected>1D CNN (1,3,8192)</option>
      <option value="1d_cnn">1D CNN (1,3,4096)</option>
    </select>
    <input type=text name=set placeholder="dataset name">
    <input type=submit value="Predict">
  </form>

</div>
<!-- Dashboard End -->
{% endblock %}
