{% extends "base.jinja" %}

{% block content %}
<!-- Data_view -->
  <div class="centre-horizontal-multiple">
    {% if data_generator %}
    <table>
      {% for batch in data_generator %}
      {% for doc in batch %}
      <tr>
        {% for key, val in doc.items() %}
        <th>{{ key }}</th>
        <td>{{ val }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
      {% endfor %}
    </table>
    {% endif %}
  </div>
<!-- Data_view End -->
{% endblock %}
