{% extends "base.jinja" %}

{% block content %}
<!-- Docs -->
  <div class="content-grid">
    <h1 class="page-title">Docs</h1>
    <p class="grid-item-centre">
      Work in progress, documentation will be made avaliable in due course.
    </p>
  </div>
<!-- Docs End -->
{% endblock %}
