{% extends "base.jinja" %}

{% block content %}
<!-- Help -->
  <div class="content-grid">
    <h1 class="page-title">Help</h1>
    <p class="grid-item-centre">
      Work in progress, help will be made avaliable in due course.
    </p>
  </div>
<!-- Help End -->
{% endblock %}
