{% extends "base.jinja" %}

{% block content %}
<!-- Landing -->
  <div class="content-grid">
    <h1 class="page-title"><img src="static/img/logo.svg" alt="Home"></h1>
    <p class="grid-item-centre">
      Minimal, Kerckoffian, Fully Homomorphically Encrypted Deep Learning, as a Service
    </p>
  </div>
<!-- Landing End -->
{% endblock %}
