{% extends "base.jinja" %}

{% block content %}
<!-- Login -->
  <div class="content-grid">
    <h1 class="page-title">Login</h1>
    <form method="post" class="grid-item-centre">
      <label for="username"></label>
      <input type=text name=username placeholder="username" required>
      <label for="password"></label>
      <input type=password name=password placeholder="password" required>
      <input type=submit value="Login">
    </form>
  </div>
<!-- Login End -->
{% endblock %}
