{% extends "base.jinja" %}

{% block content %}
<!-- Profile -->
  <div class="content-grid">
    <h1 class="page-title">{{ current_user.name }}</h1>
    <table class="grid-item-centre">
      <tr>
        <td>username</td>
        <td>{{ current_user.name }}</td>
      </tr>
      <tr>
        <td>id</td>
        <td>{{ current_user.get_id() }}</td>
      </tr>
    </table>
  </div>
<!-- Profile End -->
{% endblock %}
