html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{line-height:1;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
.centre-vertical-horizontal{display:block;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.centre-horizontal-inline{text-align:center;}
.centre-horizontal-block{margin:0 auto;}
.centre-horizontal-multiple{display:inline-block;}
.title_font{font-family:'Roboto Slab',serif;}
.main_font{font-family:'Inconsolata',monospace;}
.alt_font{font-family:'Roboto Slab',serif;}
html{height:100%;}
body{color:#5991ac;background-color:#104f6e;height:100%;}
.page{display:grid;width:100%;height:100%;grid-template-rows:100%;grid-template-columns:minmax(8em,15vmin)1fr;}
nav{background-color:#043b55;display:grid;grid-templat-rows:repeat(auto-fill,1fr);text-align:center;color:#5991ac;font-family:'Roboto Slab',serif;}
nav a{color:inherit;text-decoration:none;display:flex;justify-content:center;align-items:center;}
nav a:hover{background-color:#104f6e;color:#5991ac;}
nav a:active{background-color:#104f6e;color:#960f43;}
.content-grid{height:100%;width:100%;display:grid;grid-template-rows:10% 1fr;font-family:'Inconsolata',monospace;max-width:100%;overflow:hidden;}
.content-grid-tile{height:100%;width:100%;display:grid;grid-template-rows:10% repeat(auto-fill,minmax(10%,100%));font-family:'Inconsolata',monospace;}
.content-grid-dashboard{height:100%;width:100%;display:grid;grid-template-rows:10% repeat(3,minmax(10%,100%));grid-template-columns:repeat(3,minmax(10%,100%));grid-gap:1rem;font-family:'Inconsolata',monospace;}
.grid-item-centre{display:flex;flex-direction:column;justify-content:center;align-items:center;}
.grid-item-centre-coloured{display:flex;flex-direction:column;justify-content:center;align-items:center;background-color:#377594;}
h1{font-family:'Roboto Slab',serif;display:flex;flex-direction:column;justify-content:center;align-items:center;}
.page-title{grid-row:1;grid-column-start:1;grid-column-end:-1;}
input{padding:12px 20px;margin:8px auto;text-align:center;border:0px solid #d9c426;background-color:#043b55;color:#5991ac;border-radius:2px;}
.content-grid-dashboard input{width:75%;}
input:focus{background-color:#043b55;}
input[type=text],input[type=password]{border-radius:2px;}
img{height:100%;width:100%;}